# boto3==1.28.40
boto3==1.23.10
# botocore==1.31.40
botocore==1.26.10
certifi==2023.7.22
# charset-normalizer==3.2.0
# Supported with python 3.6
# charset-normalizer==3.0.1
# Required version ~=2.0.0 by requests==2.27.1
charset-normalizer==2.0.12
idna==3.4
# jmespath==1.0.1
jmespath==0.10.0
python-dateutil==2.8.2
# requests==2.31.0
requests==2.27.1
# s3transfer==0.6.2
s3transfer==0.5.2
six==1.16.0
urllib3==1.26.16
