[Unit]
Description=System service that manages Squashfs images projected via iSCSI for IMS, PE, and other ancillary images similar to PE.
DefaultDependencies=no
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/lib/sbps-marshal/bin/sbps-marshal
Restart=on-failure
RestartSec=180s

[Install]
WantedBy=multi-user.target
